body {
    padding: 20px;
    margin: auto;
    /* font chu */
    font-family: "Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    background-color: rgb(232, 232, 175);
    display: flex;
    justify-content: center;
}

div {
    width: auto;
    height: auto;
    background-color: transparent;
}